<!DOCTYPE html>
<html lang="pl">
    <head>
        <title> Repozytorium umów </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'umowy/css/bootstrap.min.css' %}" type="text/css" />
        <link rel="stylesheet" href="{% static 'umowy/css/sticky-footer-navbar.css' %}" type="text/css" />
    </head>
    <body class="body" style="background-color:rgba(157, 191, 245, 0.562)">
            <header>
                <!-- Fixed navbar -->
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                    <a class="navbar-brand" href="{% url 'umowy:index' %}">Repozytorium</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% if user.is_authenticated %}
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="dropdown">
                                <a class="nav-link" href="{% url 'umowy:systemy_list' %}" data-toggle="dropdown">Systemy<span class="sr-only"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'umowy:systemy_list' %}">Lista</a></li>
                                    <li><a  class="dropdown-item" href="{% url 'umowy:systemy_add' %}">Dodaj nowy system</a></li>
                                    <li><a  class="dropdown-item" href="{% url 'umowy:serwerysystemow_list' %}"> Serwery systemów lista</a></li>
                                    <li><a  class="dropdown-item" href="{% url 'umowy:serwerysystemow_add' %}">Przypisz serwer do systemu</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                            <a class="nav-link" href="{% url 'umowy:umowy_list' %}" data-toggle="dropdown">Umowy<span class="sr-only"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a  class="dropdown-item" href="{% url 'umowy:umowy_list' %}">Lista</a></li>
                                    <li><a  class="dropdown-item" href="{% url 'umowy:umowy_add' %}">Dodaj nową umowę</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                    <a class="nav-link" href="#" data-toggle="dropdown">Administracja<span class="sr-only"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a  class="dropdown-item" href="{% url 'umowy:bazy_list' %}">Bazy danych lista</a></li>
                                            <li><a  class="dropdown-item" href="{% url 'umowy:bazy_add' %}">Dodaj nową bazę</a></li>
                                            <li><a  class="dropdown-item" href="{% url 'umowy:administratorzy_list' %}">Administratorzy lista</a></li>
                                            <li><a  class="dropdown-item" href="{% url 'umowy:administratorzy_add' %}">Dodaj nowego administratora</a></li>
                                            <li><a  class="dropdown-item" href="{% url 'umowy:serwery_list' %}">Serwery lista</a></li>
                                            <li><a  class="dropdown-item" href="{% url 'umowy:serwery_add' %}">Dodaj nowy serwer</a></li>
                                        </ul>
                                    </li>
                            <li class="dropdown ">
                                    <a class="nav-link" href="#" data-toggle="dropdown">{{request.user.first_name}} {{request.user.last_name}}<span class="sr-only"></span></a>
                                    <ul class="dropdown-menu">
                                            
                                            <li><a class="dropdown-item"href="{% url 'umowy:logout' %}">Logout</a></li>
                                            
                                    </ul>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </nav>
            </header>
            <!-- Begin page content -->
            <main role="main" class="container-fluid">
                {% block content %}
                {% endblock %}
            </main>
            <footer class="footer">
                <div class="container">
                    <span class="text-muted">ZSW - Repozytorium umów .</span>
                </div>
            </footer>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </body>
</html>